<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Covid Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <h1>Covid19 Tracker</h1>

    <div class="jumbotron">
        <h1 class="display-4" th:text="${total}"></h1>
        <p class="lead">Total Cases of Confirmed Covid19 for Today</p>
        <p>
            <span>New cases since previous day</span>
            <span th:text="${difference}"></span>
        </p>
        <hr class="my-4">
        <form action="/search" method="get">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search by state or country" aria-label="Recipient's username" aria-describedby="button-addon2" name="filter" required>
                <div class="input-group-append">
                    <input class="btn btn-outline-secondary" type="submit" id="button-addon2" value="Search"></input>
                </div>
            </div>
        </form>
        <form action="/" method="get">
            <div class="input-group-append">
                <input class="btn btn-outline-secondary" type="submit" id="button-addon1" value="Clear"></input>
            </div>
        </form>
    </div>


    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">STATE</th>
            <th scope="col">COUNTRY</th>
            <th scope="col">Number Of Cases</th>
            <th scope="col">New Cases</th>
        </tr>
        </thead>
        <tr th:each="country : ${countries}">
            <td th:text="${country.state}"></td>
            <td th:text="${country.country}"></td>
            <td th:text="${country.numberOfCases}"></td>
            <td th:text="${country.difference}"></td>
        </tr>
    </table>


</body>

</html>